In [77]:
import pandas as pd

url = 'https://raw.githubusercontent.com/Camilo0702/PC2-Bernabe/main/File-data/HDI%20(1).xlsx'
data = pd.read_excel(url, engine='openpyxl', skiprows = 4)
borrar = data.columns[[3,5,7,9,11,13]]
data = data.drop(borrar, axis = 1)
data.columns = data.columns.str.replace('Unnamed.*','', regex=True)
data = data.round(2)
data.rename(columns={'Life expectancy at birth': 'Life exp at birth', 'Expected years of schooling': 'Exp years of schooling', 'Mean years of schooling': 'Mean years'}, inplace=True)
data['Life exp at birth'] = pd.to_numeric(data['Life exp at birth'], errors='coerce')
data['Exp years of schooling'] = pd.to_numeric(data['Exp years of schooling'], errors='coerce')
data['Mean years'] = pd.to_numeric(data['Mean years'], errors='coerce')
data['Gross national income (GNI) per capita'] = pd.to_numeric(data['Gross national income (GNI) per capita'], errors='coerce')
data['Life exp at birth'] = data['Life exp at birth'].round(2)
data['Exp years of schooling'] = data['Exp years of schooling'].round(2)
data['Mean years'] = data['Mean years'].round(2)
data['Gross national income (GNI) per capita'] = data['Gross national income (GNI) per capita'].round(0)
data = data.astype(object)
data.fillna('', inplace=True)
data

,,,Human Development Index (HDI),Life exp at birth,Exp years of schooling,Mean years,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,HDI rank
0,HDI rank,Country,Value,,,,,,
1,,,2021,2021.0,2021.0,2021.0,2021.0,2021,2020
2,,VERY HIGH HUMAN DEVELOPMENT,,,,,,,
3,1,Switzerland,0.962,83.99,16.5,13.86,66933.0,5,3
4,2,Norway,0.961,83.23,18.19,13.0,64660.0,6,1
...,...,...,...,...,...,...,...,...,...
267,,Column 2: UNDESA (2022a).,,,,,,,
268,,"Column 3: CEDLAS and World Bank (2022), ICF Ma...",,,,,,,
269,,"Column 4: Barro and Lee (2018), ICF Macro Demo...",,,,,,,
270,,"Column 5: IMF (2022), UNDESA (2022b), United N...",,,,,,,
271,,Column 6: Calculated based on data in columns ...,,,,,,,